#image1{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 0%;
}
#image1 img{
	height: 100%;
	width: 100%;
}

#image2{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 12.5%;
}
#image2 img{
	height: 100%;
	width: 100%;
}

#image3{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 25%;
}
#image3 img{
	height: 100%;
	width: 100%;
}

#image3a{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 37.5%;
}
#image3a img{
	height: 100%;
	width: 100%;
}

#image4{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 50%;
}
#image4 img{
	height: 100%;
	width: 100%;
}

#image5{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 62.5%;
}
#image5 img{
	height: 100%;
	width: 100%;
}

#image6{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 75%;
}
#image6 img{
	height: 100%;
	width: 100%;
}

#image7{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 87.5%;
}
#image7 img{
	height: 100%;
	width: 100%;
}

#image8{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 0%;
}
#image8 img{
	height: 100%;
	width: 100%;
}

#image9{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 14.285%;
}
#image9 img{
	height: 100%;
	width: 100%;
}

#image10{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 28.57%;
}
#image10 img{
	height: 100%;
	width: 100%;
}

#image11{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 42.857%;
}
#image11 img{
	height: 100%;
	width: 100%;
}

#image12{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 57.14%;
}
#image12 img{
	height: 100%;
	width: 100%;
}

#image13{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 71.428%;
}
#image13 img{
	height: 100%;
	width: 100%;
}

#image14{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 12.5%;
	top: 85.71%;
}
#image14 img{
	height: 100%;
	width: 100%;
}

#image15{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 0%;
}
#image15 img{
	height: 100%;
	width: 100%;
}

#image16{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 14.285%;
}
#image16 img{
	height: 100%;
	width: 100%;
}

#image17{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 28.57%;
}
#image17 img{
	height: 100%;
	width: 100%;
}

#image18{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 42.857%;
}
#image18 img{
	height: 100%;
	width: 100%;
}

#image19{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 57.14%;
}
#image19 img{
	height: 100%;
	width: 100%;
}

#image20{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 71.428%;
}
#image20 img{
	height: 100%;
	width: 100%;
}

#image21{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 75%;
	top: 85.71%;
}
#image21 img{
	height: 100%;
	width: 100%;
}

#image22{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 0%;
}
#image22 img{
	height: 100%;
	width: 100%;
}

#image23{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 14.285%;
}
#image23 img{
	height: 100%;
	width: 100%;
}

#image24{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 28.57%;
}
#image24 img{
	height: 100%;
	width: 100%;
}

#image25{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 42.857%;
}
#image25 img{
	height: 100%;
	width: 100%;
}

#image26{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 57.14%;
}
#image26 img{
	height: 100%;
	width: 100%;
}

#image27{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 71.428%;
}
#image27 img{
	height: 100%;
	width: 100%;
}

#image28{
	width: 12.5%;
	height: 14.285%;
	position: fixed;
	left: 87.5%;
	top: 85.71%;
}
#image28 img{
	height: 100%;
	width: 100%;
}


#title{
	text-align: center;
	position: fixed;
	left: 30%;
	width: 40%;
	font-size: 2.5vmin;
	background-color: white;
	z-index: 5;
}

#whitebox{
	z-index: 4;
	left: 30%;
	width: 40%;
	height: 12.5%;
	background-color: white;
	position: fixed;
	top: 0%;
}


#content{
	top: 20%;
	position: absolute;
	width: 40%;
	left: 30%;
	font-size: 2vmin;
	text-align: center;
}

#content img{
	max-width: 50%;
}