#image1{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 0%;
}
#image1 img{
	height: 100%;
	width: 100%;
}

#image2{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 11.11%;
	top: 0%;
}
#image2 img{
	height: 100%;
	width: 100%;
}

#image3{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 22.22%;
	top: 0%;
}
#image3 img{
	height: 100%;
	width: 100%;
}

#image3a{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 33.33%;
	top: 0%;
}
#image3a img{
	height: 100%;
	width: 100%;
}

#image4{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 44.44%;
	top: 0%;
}
#image4 img{
	height: 100%;
	width: 100%;
}

#image5{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 55.55%;
	top: 0%;
}
#image5 img{
	height: 100%;
	width: 100%;
}

#image6{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 66.66%;
	top: 0%;
}
#image6 img{
	height: 100%;
	width: 100%;
}

#image7{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 77.77%;
	top: 0%;
}
#image7 img{
	height: 100%;
	width: 100%;
}

#image8{
	width: 11.11%;
	height: 12.5%;
	position: fixed;
	left: 88.88%;
	top: 0%;
}
#image8 img{
	height: 100%;
	width: 100%;
}

#image9{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 12.5%;
}
#image9 img{
	height: 100%;
	width: 100%;
}

#image10{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 25%;
}
#image10 img{
	height: 100%;
	width: 100%;
}

#image11{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 37.5%;
}
#image11 img{
	height: 100%;
	width: 100%;
}

#image12{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 50%;
}
#image12 img{
	height: 100%;
	width: 100%;
}

#image13{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 62.5%;
}
#image13 img{
	height: 100%;
	width: 100%;
}

#image14{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 75%;
}
#image14 img{
	height: 100%;
	width: 100%;
}

#image15{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 87.5%;
	top: 87.5%;
}
#image15 img{
	height: 100%;
	width: 100%;
}

#image16{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 75%;
	top: 87.5%;
}
#image16 img{
	height: 100%;
	width: 100%;
}

#image17{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 62.5%;
	top: 87.5%;
}
#image17 img{
	height: 100%;
	width: 100%;
}

#image18{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 50%;
	top: 87.5%;
}
#image18 img{
	height: 100%;
	width: 100%;
}

#image19{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 37.5%;
	top: 87.5%;
}
#image19 img{
	height: 100%;
	width: 100%;
}

#image20{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 25%;
	top: 87.5%;
}
#image20 img{
	height: 100%;
	width: 100%;
}

#image21{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 12.5%;
	top: 87.5%;
}
#image21 img{
	height: 100%;
	width: 100%;
}

#image22{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 87.5%;
}
#image22 img{
	height: 100%;
	width: 100%;
}

#image23{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 75%;
}
#image23 img{
	height: 100%;
	width: 100%;
}

#image24{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 62.5%;
}
#image24 img{
	height: 100%;
	width: 100%;
}

#image25{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 50%;
}
#image25 img{
	height: 100%;
	width: 100%;
}

#image26{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 37.5%;
}
#image26 img{
	height: 100%;
	width: 100%;
}

#image27{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 25%;
}
#image27 img{
	height: 100%;
	width: 100%;
}

#image28{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 0%;
	top: 12.5%;
}
#image28 img{
	height: 100%;
	width: 100%;
}







#words{
	position: fixed;
	top: 15%;
	left: 20%;
	width: 60%;
	text-align: center;
	font-size: 3vmin;
}




#kitchen{
	position: fixed;
	top: 40%;
	left: 22%;
	width: 15%;
	height: 8%;
	background-color: #7fff00;
	font-size: 2.6vmin;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1vmin 1vmin 2vmin #888888;
}

#furniture{
	position: fixed;
	top: 40%;
	left: 40%;
	width: 15%;
	height: 8%;
	background-color: #76f8f4;
	font-size: 3vmin;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1vmin 1vmin 2vmin #888888;
}

#building{
	position: fixed;
	top: 40%;
	left: 58%;
	width: 23%;
	height: 8%;
	background-color: #7fff00;
	font-size: 3vmin;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1vmin 1vmin 2vmin #888888;
}

#toiletries{
	position: fixed;
	top: 60%;
	left: 22%;
	width: 15%;
	height: 8%;
	background-color: #76f8f4;
	font-size: 2.3vmin;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1vmin 1vmin 2vmin #888888;
}


#all{
	position: fixed;
	top: 60%;
	left: 40%;
	width: 41%;
	height: 8%;
	background-color: #7fff00;
	font-size: 2.5vmin;
	text-align: center;
	border: 1px solid black;
	box-shadow: 1vmin 1vmin 2vmin #888888;
}

a{
	display: block;
	height: 100%;
	color: black;
	text-decoration: none;

}

#click{
	width: 12.5%;
	height: 12.5%;
	position: fixed;
	left: 12.5%;
	top: 75%;
}
#click img{
	height: 100%;
	width: 100%;
}